<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.dobots.fridgefile" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".FridgeFile"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceSelectActivity"
            android:label="@string/title_activity_device_select" >
        </activity>

        <service
            android:name=".BleFridgeService"
            android:icon="@mipmap/ic_launcher"
            android:label="BleFridgeService" >
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:theme="@style/Base.Theme.AppCompat"
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics" >
        </activity>
    </application>

</manifest>
